.main {
  display: flex;
  background-color: #161d26;
  width: 100vw;
  height: 100vh;
  color: white;
}

.logo {
  width: 20%;
  rotate: 180deg;
}

.left {
  width: 20%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInfo{
  display: flex;
  align-items: center;
}

.userName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1px;
  margin-left: 10px;
}

.logoutBtn {
  margin-top: 10px;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background: none;
  border: 2px solid #939596;
  color: #939596;
  cursor: pointer;
  font-weight: bold;
}

.middle {
  width: 45%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.top {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.homeTitle {
  align-self: flex-start;
}

.tweetInput {
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}

.lengthAndButton {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 22%;
  margin-right: 40px;
}

.tweetBtn {
  width: 100%;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: #3f93e8;
  border: 1px solid #3f93e8;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.right {
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.trendContainer {
  background-color: #202731;
  border-radius: 5px;
  width: 100%;

  padding-left: 20px;
}
